{% extends 'base.html' %}

{% block main %}
<!-- Contains the main content of the website, divided into sections -->
<main>
  <section>
    <div class="album py-5 bg-light">
      <div class="container">
        <h2>【Necklace】</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="../Pictures/meltingheart1.jpg" class="card-img-top" alt="...">

              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <p class="card-text m-0">Melting Heart </p>
                  <h6 class="m-0">Price:2200 NTD</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="../HTML/index_meltingheart.html">View
                      Details</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="../Pictures/besafe10.jpg" class="card-img-top" alt="...">

              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <p class="card-text m-0">BE SAFE Series</p>
                  <h6 class="m-0">Price:368 NTD</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="../HTML/besafe.html">View Details</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="../Pictures/islandall.jpg" class="card-img-top" alt="...">

              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <p class="card-text m-0">Island Paradise Series</p>
                  <h6 class="m-0">Price:2400 NTD</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="../HTML/island.html">View Details</a>
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>
</main>
{% endblock%}